a:link, a:visited {
  background-color: #000088;
  width: 300px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #000055;
}
